
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>cheng.chen</title>
  <meta http-equiv="keywords" content="resume,cheng.chen">
  <meta http-equiv="description" content="This is a resume about me">
  <meta http-equiv="Content-Type" content="text/html">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent"/>
  <meta name="browsermode" content="application">
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <meta name="msapplication-tap-highlight" content="no">
  <meta name="screen-orientation" content="portrait"/>
  <meta name="x5-orientation" content="portrait"/>
  <meta name="full-screen" content="true"/>
  <meta name="nightmode" content="disable"/>
  <meta name="x5-fullscreen" content="true"/>
  <meta name="x5-page-mode" content="app">
  <link rel="stylesheet" href="./static/plugin/headbackground/css/normalize.css">
  <link rel="stylesheet" href="./static/plugin/headbackground/css/component.css">
  <link rel="stylesheet" href="./static/plugin/headbackground/css/demo.css">
</head>
<body>

<div id="app"></div>
<!-- built files will be auto injected -->
<script type="text/javascript" src="./static/plugin/headbackground/js/anime.min.js"></script>
<script type="text/javascript" src="./static/plugin/headbackground/js/imagesloaded.pkgd.min.js"></script>
<script type="text/javascript" src="./static/plugin/headbackground/js/main.js"></script>
</body>
</html>
